.clientsWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.client {
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.imgWrapper {
    width: 50px;
    margin-bottom: 10px;
}
.imgWrapper img {
    width: 100%;
}
.clientData {
    align-items: start;
}
.clientData :not(:last-child) {
    margin-bottom: 10px;
}
.btnWrapper {
    /* background-color: #efefef; */
}
.btn {
    width: 90px;
}